@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --dark-blue: #161A23;
    --dark-gray: #2D2F39;
    --medium-gray: rgba(255, 255, 255, 0.5);
    --light-gray: rgba(255, 255, 255, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

#sidebar {
    border: 1px solid red;
    width: 256px;
    background-color: var(--dark-blue);
    padding: 24px 24px;
}

.sidebar__profile {
    display: grid;
    grid-template-columns: 44px 1fr;
    column-gap: 16px;
    align-items: center;
}

.sidebar__profile-picture {
    display: flex;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar__profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__info {
    display: grid;
    row-gap: 8px;
}

.sidebar__profile-title {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    color: var(--light-gray);
}

.sidebar__profile-subtitle {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--medium-gray);
}