@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import './parts/sidebar-header.css';
@import './parts/sidebar-content.css';
@import './parts/sidebar-link.css';

:root {
    --dark-blue: #161A23;
    --dark-gray: #2D2F39;
    --medium-gray: rgba(255, 255, 255, 0.5);
    --light-gray: rgba(255, 255, 255, 0.8);
    --text-color: #757575;
    --line-color: #f6f6f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

#sidebar {
    background-color: var(--dark-blue);

    width: 256px;

    position: fixed;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 16px;
}