.sidebar__profile {
    display: grid;
    grid-template-columns: 44px 1fr;
    column-gap: 16px;
    align-items: center;

    position: relative;
    padding: 0 24px;
}

.sidebar__profile-picture {
    display: flex;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar__profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__info {
    display: grid;
    row-gap: 8px;
}

.sidebar__profile-title {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    color: var(--light-gray);
}

.sidebar__profile-subtitle {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--medium-gray);
}

.sidebar__toggle {
    background-color: white;
    border: 1px solid var(--dark-blue);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotateZ(180deg) translateX(-50%);
}

.sidebar__toggle svg {
    fill: var(--dark-blue);
}