.navbar__dropdown {}

.navbar__dropdown span {
    display: none;
}

.navbar__dropdown button {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;

    width: 60px;
    height: 60px;
}

.navbar__dropdown button:hover {
    background-color: var(--secondary-color);
}

.navbar__dropdown button:focus {
    background-color: transparent;
}

.navbar__dropdown.active button {
    background-color: var(--secondary-color);
}

.navbar__dropdown.active .navbar__dropdown-submenu {
    display: block;
}
