.navbar_link span {
    display: none;
}

.navbar_link a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
}

.navbar_link a:hover {
    background-color: var(--secondary-color);
}